<h1>
  Article
</h1>
<table>
  <th>Id</th>
  <td>User</td>
  <th>Ttile</th>
  <th>Description</th>
  <tr>
    <td><%= @article.id %></td>
    <td><%= @article.user.username %></td>
    <td><%= @article.title %></td>
    <td><%= @article.description %></td>
  </tr>
</table>

<%= link_to :Edit , edit_article_path(@article), class:"btn btn-primary" %>
<%= link_to :Delete, article_path(@article), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger" %>

